{% extends 'webapp/base.html' %} {% block content %}

<h1>MOhammed</h1>
<h2>simon</h2>

<body>
  <br />
  <br />

  <div class="text-center">
    <h3>Project X ... Management at its finest</h3>

    <br />

    <h5>Keep track of yur records effectively</h5>

    <hr />
    
    <br />
  
    <a href="{% url 'register' %}" class="btn btn-primary" type="button">Create you account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i></a>

  </div>
</body>

{% endblock %}
