{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container bg-dark shadow-medium p-5 form-layout">
      <h3>Update record</h3>
        <h6>Update your record down bellow your record </h6>
     
      <hr />
      <br />
  
      <form autocomplete="off" method="POST">
        <!-- {% csrf_token %} {{form.as_p}} -->
        {% csrf_token %} {{form|crispy}}
        <br />
        <button type="submit" class="btn btn-danger w-100 btn-block p-2">
          Update record
        </button>
      </form>
    </div>
    </body>


{% endblock %}